.DS_Store
Thumbs.db

.idea/
.vscode/

node_modules/
miniprogram_npm/

dist/
build/
coverage/
.cache/
.eslintcache

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.swp
*.swo
*.tmp
*.temp
*.bak

project.private.config.json
